<mat-toolbar color="primary">
  <span>
    <a routerLink="/">My Training</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="listpost" routerLinkActive="mat-accent">Posts</a>
      <a mat-button routerLink="listcustomer" routerLinkActive="mat-accent">Customers</a>
    </li>
  </ul>
</mat-toolbar>
