<mat-toolbar color="primary">
  <span>
    <a routerLink="/">customers</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/createcustomer" routerLinkActive="mat-accent">Create</a>
    </li>
  </ul>
</mat-toolbar>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <mat-accordion multi="true" *ngIf="customers.length > 0">
    <mat-expansion-panel *ngFor="let customer of customers">
      <mat-expansion-panel-header>
        {{ customer.name }}
      </mat-expansion-panel-header>
      <p>{{ customer.surname }}</p>
      <mat-action-row>
        <a mat-button color="primary" [routerLink]="['/editcustomer', customer.id]">Edit</a>
        <button mat-button color="warn" (click)="onDelete(customer.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="mat-body-1 info-text" *ngIf="customers.length <= 0">No customer added yet!</p>
</div>
