<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <form (submit)="onSaveCustomer(customerForm)" #customerForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="name" [ngModel]="customer?.name" required placeholder="Customer Name" #name="ngModel">
      <mat-error *ngIf="name.invalid">Please enter a customer name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="surname" [ngModel]="customer?.surname" required placeholder="Customer Surname" #surname="ngModel">
      <mat-error *ngIf="surname.invalid">Please enter customer surname.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Customer</button>
  </form>
</mat-card>
