<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Posts</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/createpost" routerLinkActive="mat-accent">Create</a>
    </li>
  </ul>
</mat-toolbar>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <mat-accordion multi="true" *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
      <p>{{ post.content }}</p>
      <mat-action-row>
        <a mat-button color="primary" [routerLink]="['/editpost', post.id]">Edit</a>
        <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="mat-body-1 info-text" *ngIf="posts.length <= 0">No post added yet!</p>
</div>
